<div class="container mt-1">
  <h4>Pick course:</h4>
    <% @courses["courses"].each do |slug, course| %>
    <p>
      <a href="<%=course_path(slug)%>">
        <%=course["title"] %>
      </a>
    </p>
    <% end %>
</div>
