<div class="container mt-1">
  <p>
    <a href="<%=courses_path%>">
      &larr;
    </a>
  </p>
  <h4>Course:</h4>
  <p>Price: <%=@course_detail["price"]["total"]%></p>
  <p>Next start date: <%=@course_detail["start_dates"].first %></p>
  <p>Following dates:</p>
  <ul>
    <li><%=@course_detail["start_dates"][1] %></li>
    <li><%=@course_detail["start_dates"][2] %></li>
  </ul>
</div>
